
@import url(./normalise.css);
@import url(./global.css);
@import url(./spinner.css);
@import url(./interval.css);
@import url(./nav.css);
@import url(./footer.css);
@import url(./header.css);
@import url(./main.css);
@import url(./intro.css);
@import url(./messengers.css);
@import url(./picOfDay.css);
@import url(./bestImages.css);
@import url(./ingenuity.css);
@import url(./insight.css);
@import url(./buttonUp.css);
@import url(./rawImages.css);
@import url(./timer.css);


