.insightContainer {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius);
    gap: 20px;
    padding: 10px;
    margin: 0 auto;
    opacity: 0.9;
}

.insightContainer > div {
    padding: 10px 10px;
    margin: 10px 0;
    border-radius: var(--border-radius);
}

.insightInfo, .insightMission, .insightQuickFacts {
    background-color: var(--blue-color);
}

.insightContainer p, 
.insightContainer li {
    font-family: var(--queen-sides-medium);
    list-style: none;
}

.insightContainer h2,
.insightContainer h3 {
    text-align: center; 
    font-family: var(--font-lorenza);
    font-size: 1.1rem;
}

.insightQuickFacts ul {
    padding: 0;
}

/* .screenContainer {
    background-color: #e2cfc5;
} */