.introContainer {
    width: 100%;
    /* height: 70vh; */
    margin: 50px 0 50px;
    display: grid;
    place-items: center;
    background-color: var(--orange-color) ;
    border-radius: var(--border-radius);
    padding: var(--padding-light);
}

.introContainer h2 {
    font-family: var(--font-lost-ages), "sans-serif";
    text-align: center;
    margin: 0 auto;
    padding: 10px 5px;
    border-bottom: 2px dotted var(--blue-color);
}

.accordionBody {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #FF9D6F ;
    border-radius: var(--border-radius); */
    padding: 10px 5px;
}

.accordionBody p {
    font-family: var(--font-lost-ages);
    font-size: 1.2rem;
    margin: 0;
}

.accordionContent {
    font-family: var(--queen-sides-light);
    font-size: 1rem;  
}

