.picOfDayContainer {
    /* margin: 50px 0 50px 25px; */
    /* width: 300px; */
    padding: 50px 0 50px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.picOfDayContainer h2 {
    font-family: var(--font-lost-ages);
    text-align: center;
}
.picOfDayContainer p {
    background-color: var(--orange-color);
    opacity: 0.8;
    padding: var(--padding-light);
    border-radius: var(--border-radius);
    font-family: var(--queen-sides-light);
    font-size: 1.1rem;
    box-shadow: rgba(13, 22, 75, 0.3) 0px 19px 38px, rgba(51, 41, 189, 0.219) 0px 25px 25px;
    
    
}

.picOfDayContainer button {
    width: 150px;
    align-self: center;
    padding: var(--padding-light);
    border-radius: var(--border-radius);
    background-color: var(--blue-color);
    color: white;
    border: none;
}

.dayPicture {
    margin: 25px 0;
    
}

.pictureContent {
    width: 100%;
    padding: 10px;
    border-radius: var(--border-radius);
    position: relative;
    bottom: 25px;
    
    
}

.pictureContent h2,
.pictureContent p:first-of-type {
    font-family: var(--queen-sides-light);
    background-color: var(--darker-orange);
    padding: 10px 10px;
    margin: 0;
    border-radius: var(--border-radius);
    line-height: 1.6rem;
    opacity: 1;
}

.pictureContent h2 {
    margin-bottom: 10px;
}

.buttonUp button {
    width: 50px;
    height: 50px;
    background-color: var(--orange-color);
    opacity: 0.7;
    border-radius: 50%;  
}

.picture {
    width: 100%;
    height: auto;
}